:root {
  --light-color-1: #d8dee9;
  --light-color-2: #e5e9f0;
  --light-color-3: #eceff4;

  --dark-color-1: #2e3440;
  --dark-color-2: #3b4252;
  --dark-color-3: #434c5e;
  --dark-color-4: #4c566a;

  --frost-color-1: #8fbcbb;
  --frost-color-2: #88c0d0;
  --frost-color-3: #81a1c1;
  --frost-color-4: #5e81ac;

  --red-color: #bf616a;
  --orange-color: #d08770;
  --yellow-color: #ebcb8b;
  --green-color: #a3be8c;
  --pink-color: #b48ead;

  background-color: var(--light-color-3);
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  font-family: 'FocusRegular', sans-serif;
  color: var(--dark-color-1);
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
