.navbar {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-width: 220px;
  height: fit-content;
  border-radius: 8px;
  background-color: var(--frost-color-4);

  box-shadow:
    rgba(15, 17, 21, 0.25) 0px 5px 7px,
    rgba(15, 17, 21, 0.1) 0px 4px 6px;
}

.profileAvatar {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
