.screen {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  /* z-index: 2000; */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.window {
  position: fixed;

  background: var(--light-color-3);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;

  border-radius: 12px;
}

.screen h2 {
  margin: 0;
}
