.counter {
  font-size: 1.8em;
  text-align: center;
}

.counterWrapper {
  text-transform: uppercase;
  font-size: 0.625em;
  background-color: var(--light-color-2);
  padding: 0.8em 1.6em;
  border-radius: 8px;
  cursor: default;
}
