.avatarViewer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdownWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px 10px;
  min-height: 80px;
  top: 66px;
  width: 250px;
  border-radius: 8px;
  background-color: var(--light-color-2);
  box-shadow:
    rgba(15, 17, 21, 0.25) 0px 4px 6px,
    rgba(15, 17, 21, 0.1) 0px 5px 7px;
}

.signOutBtn {
  width: 100%;
  height: 32px;
  border-radius: 4px;

  background-color: var(--light-color-1);
  color: var(--dark-color-1);
}

.signOutBtn:hover {
  background-color: var(--red-color);
  color: var(--light-color-3);
}
