.post {
  /* width: 100%; */
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--light-color-2);
  box-shadow:
    rgba(15, 17, 21, 0.15) 0px 5px 7px,
    rgba(15, 17, 21, 0.1) 0px 4px 6px;
}

.post:hover {
  background-color: var(--light-color-1);
}

.img {
  border-radius: 8px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.descWrapper {
  width: 100%;
  padding: 8px 16px;
}

.descText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
