.postWrapper {
  width: 90vw;
  height: 85vh;
  display: flex;
  gap: 8px;
}

.mediaContent {
  width: 75%;
  background-color: var(--light-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.picture {
  max-width: 100%;
  max-height: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

.clickSide {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.leftSide {
  left: 0;
}

.rightSide {
  right: 0;
}

.author {
  background-color: var(--light-color-2);
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  padding: 8px 16px;
}

.description {
  background-color: var(--light-color-2);
  width: 100%;
  height: fit-content;
  min-height: 50px;
  border-radius: 8px;
  padding: 8px 16px;
}

.tagsContainer {
  display: flex;
  gap: 8px;
}
