.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  background-color: var(--light-color-1);
  padding: 15px 20px;
  gap: 8px;
  /* box-shadow:
    rgba(15, 17, 21, 0.15) 0px 4px 7px,
    rgba(15, 17, 21, 0.1) 0px 4px 6px; */
}

.displayName {
  margin: 0;
}

.nameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-size: 0.875em;
}
