.btn {
  width: 100%;
  height: 40px;
  border: solid 1px var(--frost-color-3);
  border-radius: 8px;
  background-color: var(--light-color-2);
}

.followBtn {
  background-color: var(--frost-color-4);
  color: var(--light-color-3);
}

.unFollowBtn {
  border: solid 1px var(--dark-color-2);
  background-color: var(--light-color-1);
}

.followBtn:hover {
  background-color: var(--frost-color-3);
}

.unFollowBtn:hover {
  background-color: var(--red-color);
  color: var(--light-color-3);
}
