.tag {
  border-radius: 8px;
  border: 1px solid var(--frost-color-3);
  padding: 4px 8px;
  text-transform: uppercase;
  background-color: var(--light-color-2);
  cursor: pointer;
}

.tag:hover {
  border: 1px solid var(--frost-color-4);
}
