.inputWrapper {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.inputField {
  justify-items: center;
  resize: none;
  width: 100%;
  max-height: max-content;
  overflow: hidden;

  box-sizing: border-box;

  height: 40px;
  padding: 12px 20px;

  background: var(--light-color-2);
  border: 1px solid var(--light-color-1);
  border-radius: 8px;

  font-size: 16px;
  line-height: 24px;

  color: var(--dark-color-1);
}

.textarea {
  min-height: 40px;
  resize: vertical;

  max-height: max-content;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;

  box-sizing: border-box;

  height: 80px;
}

.inputField:hover {
  border: 1px solid var(--frost-color-3);
}

.inputField::placeholder {
  color: #00000055;
}

.inputField:focus {
  outline: none;
  border: 1px solid var(--frost-color-4);
}

.inputError {
  border: 1px solid var(--red-color);
}

.inputError::placeholder {
  color: var(--red-color);
}

.inputError:hover {
  border: 1px solid var(--red-color);
}

.inputError:focus {
  outline: none;
  border: 1px solid var(--red-color);
}

.errorMessage {
  color: var(--red-color);
  font-size: 12px;
}

/* File Input styles */

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.inputFileText {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 12px 20px;
  text-align: left;
  height: 40px;
  float: left;
  box-sizing: border-box;
  width: 55%;
  border-radius: 8px 0px 0 8px;
  border: 1px solid var(--light-color-1);
  border-right: 0;
  background-color: var(--light-color-2);
  cursor: pointer;
}

.inputFileBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 0 8px 8px 0;
  background-color: var(--frost-color-4);
  line-height: 16px;
  height: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  width: 45%;
  color: var(--light-color-3);
}

.inputFile {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.inputWrapper:hover .inputFileBtn {
  background-color: var(--frost-color-3);
}

.inputWrapper:hover .inputFileText {
  border: 1px solid var(--frost-color-3);
  border-right: 0;
}

.inputWrapper + .error .inputFileText {
  border: 1px solid var(--red-color);
  border-right: 0;
}
