.card {
  display: flex;
  gap: 8px;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.displayName {
  margin: 0;
}
