.link {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  color: var(--light-color-3);
  align-items: center;
  font-size: 1em;
  width: 100%;
  min-height: 40px;
}

.link:hover {
  background-color: var(--frost-color-3);
}

.img {
  width: 24px;
}
