.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  top: 8px;
  left: 8px;
  right: 8px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--frost-color-4);

  box-shadow:
    rgba(15, 17, 21, 0.25) 0px 4px 6px,
    rgba(15, 17, 21, 0.1) 0px 5px 7px;
}

.viewerMenu {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatarViewer {
  width: 40px;
  height: 40px;
}
