.card {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 8px;
}

.img {
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: column;
}
