.btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: var(--frost-color-4);
  border-radius: 10px;
  width: 100%;

  padding: 12px 20px;
  height: 40px;

  font-size: 16px;
  line-height: 24px;

  font-weight: 500;
  color: var(--light-color-3);
}

.btn:hover {
  background: var(--frost-color-3);
}

.btn:disabled {
  background: #5e81ac4d;
  cursor: default;
}
